

body {
  background-color: rgb(224, 216, 204);
}

.form {
  margin-left: 20px;
}

fieldset {
  border: none;
}

.card {
  width: 30rem;
  margin: 20px 0px;
  border: 2px solid black;
}



.card-img-top {
  width: 20rem;
  margin: 20px
  
}
.text {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}


